@import "properties.css";
@import "fonts.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary);
}

/* GENERAL */
.text-white {
  color: var(--color-third);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-white {
  background-color: var(--color-third);
}

.space-between {
  justify-content: space-between !important;
}

select {
  background-image: var(--img-dropdown);
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
/* FIN GENERAL */

/* ************************************************************** */
/* HEADER */
.sub-header {
  background-color: var(--color-third);
  width: 70%;
  height: 7vw;
  margin: 5vw auto;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  opacity: 0.9;
}

.sub-header-title {
  letter-spacing: 2px;
  font-weight: 600;
  padding-left: 4%;
  font-size: calc(var(--size-font-12-lg) / 1.2);
}

.sub-header_logo {
  height: 12vw;
  background-image: var(--img-logo);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition: none;
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
}
/* FIN HEADER */

/* ************************************************************** */
/* CONTAINER - MAIN */
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.discol-01 {
  position: relative;
  flex: 1;
  margin: 10px;
}
.discol-02 {
  position: relative;
  flex: 1;
}
.discol-03 {
  position: relative;
  flex: 1;
  max-width: 100%;
}

#container-main {
  background-color: var(--color-primary);
  width: 100%;
}
.container {
  width: 70%;
  display: block;
  margin: auto;
}
.container_section {
  width: 100%;
  display: block;
}

hr.solid {
  border-top: 4px solid var(--color-third);
  border-bottom: none;
  margin: auto;
  margin-bottom: 1.5em;
  width: 80%;
}
.article-history {
  padding: 0 4em 3em 4em;
  text-align: center;
  margin-top: -20%;
  z-index: 3;
}
.article-history h2 {
  font-size: var(--size-font-39-lg);
  font-style: normal;
  text-transform: uppercase;
}
.article-history h3 {
  font-size: var(--size-font-30-lg);
  margin-bottom: 50px;
}
.article-history p {
  font-size: var(--size-font-p-lg);
  line-height: 1.6;
}

.article-room {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-room {
  flex-grow: 1;
  padding-right: 3em;
}
.aside-room {
  flex-grow: 1;
  background-image: url("../img/Room.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  /* max-height: 361px; */
}
.section-room h2 {
  font-size: var(--size-font-17-lg);
  text-transform: uppercase;
  text-align: center;
  margin: 0.8em;
  color: var(--color-gray-bold);
}
.section-room h3 {
  font-size: var(--size-font-39-lg);
  text-transform: uppercase;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  color: var(--color-gray);
}
.section-room p {
  font-family: "Montserrat_Font_R";
  color: var(--color-gray-bold);
  font-size: var(--size-font-p-lg);
  padding-right: 1em;
  line-height: 1.6;
}

.btn-room,
.btn-float {
  padding: 0.5em 2em;
  background-color: transparent;
  border: 2px solid var(--color-red);
  color: var(--color-red);
  font-family: "Montserrat_Font_M";
}
.btn-room {
  margin-top: 3em;
}
.btn-float {
  margin: auto;
  display: block;
  margin-top: 1em;
}

.title-events {
  padding: 2em 0;
  text-transform: uppercase;
  font-size: var(--size-font-17-lg);
}
.section-events {
  margin-bottom: 5em;
}
.date-float {
  position: absolute;
  background: var(--color-gray-bold);
  padding-left: 23px;
  font-size: calc(1.7em + 1vw);
  color: var(--color-third);
  display: flex;
  justify-content: center;
  font-family: "Montserrat_Font_B";
}
.date-float p:last-child {
  transform: rotate(270deg);
  position: relative;
  font-size: initial;
  padding-top: 10px;
}
/* FIN CONTAINER - MAIN */

/* ************************************************************** */
/* FOOTER */
footer {
  padding: 1em 0;
  font-size: calc(var(--size-font-12-lg) / 1.2);
}

footer p:last-child {
  text-align: right;
}
/* FIN FOOTER */

/* ************************************************************** */
/* CONTAINER - FLOAT (BOOK NOW) */
.body-container-float {
  display: none;
}

.container-float {
  position: absolute;
  width: 20vw;
  z-index: 10;
  right: 0;
  top: 4.2vw;
  /* font-size: calc(0.1em + 1vw); */
}

.btn-call-book-open,
.btn-book-open {
  background-color: var(--color-primary);
  color: var(--color-third);
  position: absolute;
  font-size: calc(0.1em + 1vw);
  cursor: pointer;
  text-decoration: none;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 15vh;
  padding: 5px;
  right: 0;
  text-align: center;
}

.btn-book-open {
  margin-top: 8vw;
  position: absolute;
  right: auto;
  left: 0;
  margin-left: -2vw;
}

.mask-body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--color-gray-bold-100);
  opacity: 0.75;
  z-index: 4;
}

.body-container-float:target {
  display: block;
}
.content-float {
  background: var(--color-gray-bold-200);
  position: relative;
  padding: 2em;
  /* font-size: calc(0.1em + 0.7vw); */
}
.title-book {
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.2em;
  /* font-size: calc(1.5em + 1vw); */
  font-size: var(--size-font-39-lg);
}
.content-float .row {
  justify-content: space-between;
}
.content-float label,
.content-float .note-float,
.footer-content-float,
.content-float input[type="text"],
.content-float select {
  font-size: var(--size-font-15-lg);
}

.content-float input[type="text"] {
  padding: 10px;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  outline: none;
}
.group-input input[type="text"] {
  padding-right: 40px;
}
.group-input {
  position: relative;
  margin-top: 8px;
  margin-bottom: 1.8em;
}
.group-input i {
  position: absolute;
  right: 0;
  margin-left: 13px;
  margin: auto;
  margin-right: 10px;
  top: 0;
  bottom: 0;
  width: 8%;
}
.icon-calendar {
  background-image: var(--img-calendar);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.icon-close {
  background-image: var(--img-arrow);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  display: block;
}
.content-float select {
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  left: 1407px;
  top: 378px;
  width: 44%;
  height: 37px;
  color: var(--color-gray-light);
  outline: none;
}
.content-float .note-float {
  color: var(--color-gray);
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin: 2em 0;
  /* font-size: calc(0.2em + 1vw); */
}
.footer-content-float {
  /* width: 80%; */
  margin: auto;
  margin-top: 50px;
  color: var(--color-gray);
  display: flex;
  column-gap: 0.8em;
}
/* CONTAINER - FLOAT (BOOK NOW) */

/* Footer - MB */
.footer-mobile {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  text-align: center;
  background-color: var(--color-secondary);
  border-top: 4px solid var(--color-primary);
  box-shadow: 0px -4px 13px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px -4px 13px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px -4px 13px 0px rgba(0, 0, 0, 0.7);
}

.nav-footer-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.nav-footer-mobile li {
  flex-grow: 3;
}

.nav-footer-mobile li a {
  text-decoration: none;
  outline: none;
  color: var(--color-gray-bold-200);
  display: block;
  padding: 20px 0;
  font-size: 16px;
  background: transparent;
}

.nav-footer-mobile hr {
  border: none;
  border-left: 1px solid var(--color-gray-bold-200);
  margin-top: 1em;
  width: 1px;
}

.nav-footer-mobile li a:active {
  background: var(--color-primary);
  color: var(--color-secondary);
}

/* ************************************************************** */
/* QUERIES */
@media (min-width: 992px) and (max-width: 1299px) {
  .container-float {
    width: 25vw;
  }
}

@media screen and (max-width: 990px) {
  /* FORM - FLOAT */
  .container-float {
    width: 35vw;
  }
  .content-float label,
  .content-float .note-float,
  .footer-content-float,
  .content-float input[type="text"],
  .content-float select {
    font-size: var(--size-font-15-md);
  }
  .title-book {
    font-size: var(--size-font-39-md);
  }
  .btn-float {
    font-size: var(--size-font-17-md);
  }
  .btn-call-book-open {
    font-size: calc(0.25em + 1vw);
    /* margin-top: 8vw; */
  }
  .btn-book-open {
    font-size: calc(0.25em + 1vw);
    margin-top: 10vw;
    margin-left: -2.8vw;
  }
  /* ***********************************/

  /* HEADER */
  .sub-header {
    height: 10vw;
    margin: 3em auto;
  }
  .sub-header-title {
    font-size: var(--size-font-12-md);
  }
  .sub-header_logo {
    height: 16vw;
  }
  /* ***********************************/

  /* ARTICLE - HISTORY */
  .article-history {
    padding: 0px 80px 50px 80px;
  }
  .article-history h2 {
    font-size: var(--size-font-39-md);
  }
  .article-history h3 {
    margin-bottom: 30px;
    font-size: var(--size-font-30-md);
  }
  .article-history p {
    font-size: var(--size-font-p-md);
  }
  /* ***********************************/

  /* ARTICLE - ROOM */
  .discol-02 {
    flex: 100%;
    text-align: center;
  }
  .article-room {
    flex-direction: column-reverse;
  }
  .section-room {
    padding-right: 0;
  }
  .section-room h2 {
    font-size: var(--size-font-17-md);
  }
  .section-room h3 {
    font-size: var(--size-font-39-md);
    padding: 0 1em;
  }
  .section-room p {
    font-size: var(--size-font-p-md);
    padding: 0 30px;
  }
  .btn-room {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
  }
  .aside-room {
    height: 50vw;
    max-height: 361px;
    flex: none;
  }
  /* ***********************************/

  /* SECTION - EVENTS */
  .title-events {
    text-align: center;
    font-size: var(--size-font-17-md);
  }
  .discol-01 {
    flex: none;
  }
  .date-float {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* ***********************************/

  /* FOOTER */
  footer {
    font-size: var(--size-font-12-md);
  }
  footer p {
    text-align: center !important;
    line-height: 2;
  }
  /* ***********************************/
}

@media screen and (max-width: 800px) {
  /* FORM - FLOAT */
  .container-float {
    width: 45vw;
  }
  .content-float label,
  .content-float .note-float,
  .footer-content-float,
  .content-float input[type="text"],
  .content-float select {
    font-size: var(--size-font-15-sm);
  }
  .title-book {
    font-size: var(--size-font-39-sm);
  }
  .btn-float {
    font-size: var(--size-font-17-sm);
  }
  .btn-call-book-open {
    margin-top: 12vw;
  }
  .btn-book-open {
    font-size: calc(0.3em + 1vw);
    margin-left: -3vw;
  }
  /* ***********************************/

  /* HEADER */
  .sub-header {
    width: 100%;
    height: 16vw;
    margin: 0;
    position: relative;
  }
  .sub-header-title {
    font-size: var(--size-font-12-sm);
  }
  .sub-header_logo {
    height: 12vw;
  }
  /* ***********************************/

  /* ARTICLE - HISTORY */
  .article-history {
    padding: 0px 20px 50px 20px;
  }
  .article-history h2 {
    font-size: var(--size-font-39-sm);
  }
  .article-history h3 {
    margin-bottom: 30px;
    font-size: var(--size-font-30-sm);
  }
  .article-history p {
    font-size: var(--size-font-p-sm);
  }
  /* ***********************************/

  /* ARTICLE - ROOM */
  .section-room h2 {
    font-size: var(--size-font-17-sm);
  }
  .section-room h3 {
    font-size: var(--size-font-39-sm);
    padding: 0;
  }
  .section-room p {
    font-size: var(--size-font-p-sm);
    padding: 0 30px;
  }
  /* ***********************************/

  /* SECTION - EVENTS */
  .title-events {
    font-size: var(--size-font-17-sm);
  }
  /* ***********************************/

  /* FOOTER */
  footer {
    font-size: var(--size-font-12-sm);
  }
  /* ***********************************/

  /* FOOTER - MB */
  .footer-mobile {
    display: block;
  }
  /* ***********************************/
}

@media screen and (max-width: 600px) {
  /* FORM - FLOAT */
  .container-float {
    width: 55vw;
  }
  .btn-call-book-open {
    font-size: 14px;
    margin-top: 14vw;
  }
  .btn-book-open {
    font-size: calc(0.5em + 1vw);
    margin-left: -5vw;
  }
  /* ***********************************/
}
